@import url("../Modal/Modal.css");
.transaction-modal__merchant {
  margin: 0;
}

.modal__body p {
  margin: 10px 0;
  line-height: 1.5;
}

.modal__icon {
  width: 150px;
  height: 150px;
  display: block;
  margin: 10px 0;
  position: absolute;
  bottom: -50px;
  right: -50px;
}
