@import url("../Modal/Modal.css");

.modal__heading {
  justify-content: space-between;
}

.transaction__title {
  z-index: 1;
  width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.transaction__title:hover {
  text-overflow: clip;
  white-space: wrap;
  overflow: visible;
}

.transaction__date {
  font-size: 1rem;
}

.modal__income {
  border: #4b8a3a 6px solid;
}
.modal__expense {
  border: #8a3a4b 6px solid;
}

.modal__body p {
  margin: 10px 0;
  line-height: 1.5;
}

.modal__icon {
  --size: 250px;
  width: var(--size);
  height: var(--size);
  display: block;
  margin: 10px 0;
  position: absolute;
  bottom: calc(50% - var(--size) / 2);
  right: calc(50% - var(--size) / 2);
  opacity: 10%;
}
