.profile {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.profile__SideBar {
  color: #fff;
  background: linear-gradient(to bottom, #1b2a37, #fff);
}

.profile__Main {
  border-radius: 10px;
  background-color: #889;
  width: 75%;
}
